<section class="buttons">
    <a id="launches" href="/launches">Launches</a>
    <a id="ships" href="/ships">Ships</a>
    <a id="capsules" href="/capsules">Capsules</a>
    <a id="rockets" href="/rocket">Rockets</a>
</section>